body{
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url("images/back_ground.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
body h1{
    color: red;
    font-family: serif;
    font-size: 40px;
}